/* Style the Image Used to Trigger the Modal */

#exterior {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#exterior:hover {opacity: 0.7;}

#bukaPintu {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#bukaPintu:hover {opacity: 0.7;}

#bagasi {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#bagasi:hover {opacity: 0.7;}

#mengantar {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#mengantar:hover {opacity: 0.7;}


.hoverImage{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hoverImage:hover
{opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.text-small{
    font-size: 20px !important;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.closeModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeModal:hover,
.closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.responsive-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /*width: 100%; !* Image takes up full width by default *!*/
    /*max-width: 300px; !* Limit width to 300px on larger screens *!*/
}
.responsive-heading {
    font-size: 60px;
    line-height: 1;
}
.responsive-heading-small {
    font-size: 20px;
    line-height: 1.5;
}
.big-text {
    font-size: 40px;
    line-height: 1;
}
.small-text {
    font-size: 16px;
    line-height: 1;
    color: #ff9800;
}

.image-size-responsive{
    height: 500px;
    width: auto;
}

.mt-150{
    padding-top: 100px !important;
}
.heroSectionText{
    font-size: 28px;
}

.height300{
    height: 500px !important;
    width: auto !important;
}
.sliderFontSize30{
    font-size: 24px;
}
.sliderFontSize50{
    font-size: 50px
}
.hero-image{
    height: 900px !important;
}

.button-hero{
    /*background-color: transparent;*/
    /*border: 2px solid black;*/
    /*width: 150px;*/
    /*font-size: 24px;*/
    border: 2px solid;
    background-color: transparent;
    color: black;
    /*padding: 14px 28px;*/
    padding-top: 7px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}
.font-weight-300{
    font-weight: 300;
}

.main_header {
    background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
    position: fixed; /* Fix the header to the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left of the viewport */
    width: 100%; /* Make it cover the entire width */
    z-index: 10; /* Ensure the header stays on top of other elements */
}
.imgbg1.hero-image {
    position: relative !important; /* Make the hero image a positioning context */
    top: 0;
}

.btn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    /*padding: 14px 28px;*/
    font-size: 16px;
    cursor: pointer;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: white;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Orange */
.green {
    background: #006351 !important;
    color: white ;
}

.green:hover {
    border-color: #006351 !important;
    background: #096958 !important;
    color: white !important;
}

/* White */
.white {
    border-color: #ff9800;
    color: white;
}

.white:hover {
    background: white;
    color: black;
}

/*
Hamburger Icon
 */
/* Style the container */
.container {
    position: relative; /* Needed for proper positioning */
}

/* Style the hamburger icon */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Adjust margin as needed */
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #ff9800;
    margin-bottom: 5px;
}

/* Style the right sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #ff9800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Initially hidden off-screen */
    transition: transform 0.3s ease-in-out; /* Smooth slide-in animation */
}

/* Style the sidebar when it's active (clicked) */
.sidebar.active {
    transform: translateX(0);
    color: white;
    border-left: 5px solid white;
}

/* Style the "Close Sidebar" button */
.close-sidebar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/**
button sidebar
 */
/* Style the sidebar content */
.sidebar-content {
    /* ... existing styles ... */
}

/* Style the navigation list */
.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    display: inline-block; /* Make list items behave like inline elements */
    margin-right: 10px; /* Add some spacing between buttons */
}

.sidebar-nav a {
    display: inline-block; /* Match display with parent */
    padding: 10px 20px; /* Add padding for button visuals */
    border: none; /* Remove default link border */
    border-radius: 5px; /* Create rounded corners */
    text-decoration: none;
    color: #fff; /* Text color (white) */
    font-weight: bold; /* Bold text for button-like feel */
    transition: background-color 0.2s ease-in-out; /* Smooth transition on hover */
}

.sidebar-nav a:hover {
    background-color: #007bff; /* Change background color on hover */
}

.width-350 {
    width: 350px;
    height: 250px;
}
.width-700 {
    width: 700px;
    height: 500px;
}
.bg-black{
    background-color: black !important;
}

.small-italic{
    font-size: 16px;
    padding-right: 100px;
    padding-left: 100px;
    font-style: italic;
}
.small-text-review{
    font-size: 16px;
}

/*Contact Us*/
.contact-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff; /* White text color */
}

.section i {
    font-size: 24px;
    margin-bottom: 10px;
}

.section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #ff9800;
}

.section p {
    margin: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between the icons */
}

.social-icons a {
    display: inline-block;
}

.sosmed-icon:hover{
    filter: brightness(0) saturate(100%) invert(54%) sepia(77%) saturate(594%) hue-rotate(356deg) brightness(98%) contrast(95%);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px
}

.box{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.box.visible{
    opacity: 1;
    transform: translateY(0);
}

.button-image{
    width: 25px;
    height: auto;
    margin-top: 0px;
}
.height-sm-100{
    height: 350px !important;
}
.px-sm-100{
    padding-left : 50px !important;
    padding-right : 100px !important;
}
.px-sm-100-2{
    padding-left : 100px !important;
    padding-right : 50px !important;
}
.plr-comfort{
    padding-left: 200px !important;
    padding-right: 200px !important;
}
.rooms-height{
    height: 300px !important;
}
.special-offer-height{
    height: 500px !important;
}
.contact-us{
    height: 400px !important;
    margin-top: 100px !important;
}
.follow-us-icon-size{
    width: 50px !important;
}
.bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 5px;
}
.pt-250{
    padding-top: 250px !important;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
    .responsive-image {
        width: 100%;
        height: 75px;
        object-fit: cover;
        /*width: 100%; !* Image takes up full width by default *!*/
        /*max-width: 300px; !* Limit width to 300px on larger screens *!*/
    }
    .responsive-heading {
        font-size: 30px; /* Adjust font size for h3 on mobile */
        line-height: 1.5; /* Optional: Adjust line-height for h3 on mobile */
    }
    .responsive-heading-small {
        font-size: 14px; /* Adjust font size for h3 on mobile */
        line-height: 1.5; /* Optional: Adjust line-height for h3 on mobile */
    }
    .mobile-no-pt5 {
        padding-top: 0 !important;
    }
    .mobile-no-px-mx {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .mobile-image-size {
        height: 100px !important;
        width: auto !important;
    }

    .mt-150{
        padding-top: 10px !important;
    }
    .heroSectionText{
        font-size: 16px;
    }
    .image-size-responsive{
        height: 200px;
        width: auto;
    }
    .height300{
        height: 300px !important;
        width: auto !important;
    }
    .sliderFontSize30{
        font-size: 14px
    }
    .sliderFontSize50{
        font-size: 30px
    }
    .hero-image{
        height: 400px !important;
    }

    .button-hero{
        background-color: transparent;
        width: 150px;
        font-size: 14px;
    }
    .none-when-mobile{
        display: none;
    }

    /* Orange */
    .warning {
        border-color: #ff9800;
        color: white;
    }

    .warning:hover {
        background: #ff9800;
        color: white;
    }

    .button-image{
        width: 20px;
        height: auto;
        margin-top: 0px;
    }
    .hero-text-size {
        font-size: 10px !important;
    }
    .margin-top-sm-20{
        margin-top: 20px !important;
    }
    .height-sm-100{
        height: 130px !important;
    }
    .height-sm-300{
        height: 300px !important;
    }
    .mt-sm-150{
        margin-top: 150px !important;
    }
    .px-sm-100{
        padding-left : 50px !important;
        padding-right : 50px !important;
    }
    .px-sm-100-2{
        padding-left : 50px !important;
        padding-right : 50px !important;
    }
    .plr-comfort{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .big-text {
        font-size: 20px !important;
        line-height: 1;
    }
    .rooms-height{
        height: 150px !important;
    }
    .width-350 {
        width: 125px;
        height: 125px;
    }
    #dinners{
        height: 200px !important;
    }
    #meeting{
        height: 200px !important;
    }
    .special-offer-height{
        height: 200px !important;
    }
    .width-700 {
        width: 250px;
        height: 250px;
    }
    .contact-icons-size{
        font-size: 15px !important;
    }
    .contact-icon-size{
        font-size: 10px !important;
    }
    .contact-paragraph{
        font-size: 7px !important;
    }
    .contact-us{
        height: 320px !important;
        margin-top: 100px !important;
    }
    .follow-us-icon-size{
        width: 5px !important;
    }
    #ig{
        width: 30px !important;
        height: auto !important;
    }
    #wa{
        width: 30px !important;
        height: auto !important;
    }
    .pt-250{
        padding-top: 80px !important;
    }
    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .row.no-gutters > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* 100% Image Width on mid Screens */
@media only screen and (max-width: 1024px) and (min-width:700px){
    .modal-content {
        width: 100%;
    }
    .responsive-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        /*width: 100%; !* Image takes up full width by default *!*/
        /*max-width: 300px; !* Limit width to 300px on larger screens *!*/
    }
    .responsive-heading {
        font-size: 24px; /* Adjust font size for h3 on mobile */
        line-height: 1.5; /* Optional: Adjust line-height for h3 on mobile */
    }
    .responsive-heading-small {
        font-size: 18px; /* Adjust font size for h3 on mobile */
        line-height: 1.5; /* Optional: Adjust line-height for h3 on mobile */
    }
    .px-sm-100{
        padding-left : 50px !important;
        padding-right : 50px !important;
    }
    .px-sm-100-2{
        padding-left : 50px !important;
        padding-right : 50px !important;
    }
    .plr-comfort{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .big-text {
        font-size: 30px !important;
        line-height: 1;
    }
    #sf-mob-navbar{
        display: none !important;
    }
    #html{
        margin-top: 0px !important;
    }
}
